@media (max-width: 1400px) {
  

}


@media (max-width: 1200px) {
    .bike__title {
      font-size: 47px;
  }
}


@media (max-width: 992px) {
  .header-nav {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .header-nav, .bike__wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .bike__column:first-child {
    max-width: 676px;
    margin: 0 auto;
  }

  .article__inner {
    margin: 0 auto;
}

@media (max-width: 576px) {

}

@media (max-width: 320px) {

}
